/* Googlefont Poppins CDN Link 
'COR                HTML        RGB
'Laranja            #deac1f     rgb(222, 0, 31)
'Cinza claro        #2c2e32     rgb(44, 46, 50)
'Cinza escuro       #1e2022     rgb(30, 32, 34)
'Laranja do botão   #ffc526     rgb(255, 197, 38)
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif;*/
  font-family: 'Nunito', sans-serif;
}